@use "../common/variables" as *;
@use "../common/mixin" as m;

// news
.news {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;

    @include m.tb {
        gap: 30px;
    }

    &__list {
        writing-mode: vertical-rl;
        margin-top: 80px;

        @include m.tb {
            margin-top: 20px;
        }
    }

    &__item {
        padding-block: 30px;
        padding-inline: 15px;
        border-right: 1px solid $color-black;

        @include m.tb {
            padding-block: 15px;
            padding-inline: 5px;

            &:nth-child(n + 4) {
                display: none;
                border-left: 1px solid $color-black;
            }

            &:nth-child(n + 3) {
                border-left: 1px solid $color-black;
            }
        }

        &:last-child {
            border-left: 1px solid $color-black;
        }

        time {
            font-size: 0.75rem;
            margin-left: 5px;
        }
    }
}

// products-item
.products-item {
    display: flex;
    gap: 20px;

    @include m.tb {
        gap: 10px;
    }

    &--reverse {
        flex-direction: row-reverse;
    }

    &__content {
        width: 65%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;

        @include m.tb {
            width: 89%;
            margin-top: 50px;
        }

        &--reverse {
            flex-direction: row-reverse;
        }
    }

    &__image {
        img {
            height: 100%;
        }
    }

    &__text {
        width: 55%;
        padding-block: 60px;
        position: absolute;
        right: -20px;
        bottom: -20px;
        background-color: rgba(180, 72, 62, 0.5);
        text-align: center;
        color: $color-white;
        z-index: 10;

        @include m.tb {
            width: 65%;
            padding-block: 30px;
        }

        &--reverse {
            background-color: rgba(249, 234, 17, 0.5);
            right: 0;
            left: -20px;
        }
    }
}

// store
.store {
    width: 100%;
    height: 450px;
}
