@use "./variables" as *;
@use "./mixin" as m;

// 学習メモ
// bodyをdisplay:flexにしたことでmainもFlexアイテムとなり、.containerの幅が子要素の幅に影響されるケースを確認。
// containerにwidth:100%を指定することで、「利用可能な横幅いっぱい＋max-width」という意図を明示できる。
// 今回はFlexboxとcontainerの幅の関係を理解するため、あえてこの状態で進める。

.container {
    // margin-inline:autoを持つ.containerと、子要素のwidth:600pxが組み合わさって、mainがコンテンツ幅まで縮む事態が発生。それを解消するためにwidth:100%;を追加
    width: 100%;
    max-width: $max-width-container;
    // 下記のpaddingはposition:sticky;でheaderを固定したことによるsection-titleなどの位置調整
    padding-inline: 16px;
    margin-inline: auto;
}

.section-title {
    font-size: $base-font-size;
    font-weight: 400;
    margin-bottom: 32px;
}

.item {
    &-card-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        margin-bottom: 30px;

        @include m.tb {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &-image {
        margin-bottom: 8px;
    }

    &-title,
    &-price {
        font-size: 0.75rem;
    }
}
