@use "../common/variables" as *;
@use "../common/mixin" as m;

// menu
.menu {
    .section-title {
        background-image: url(../../img/menu.jpg);
    }

    &__content {
        display: flex;

        @include m.sp {
            flex-direction: column;
        }
    }

    &__flex-layout {
        flex: 1;
        padding-inline: 40px;
    }

    &__left-item {
        border-right: 1px solid $color-black;

        @include m.sp {
            border: none;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 10%;
        line-height: 1.5;
        gap: 24px;
        font-size: $base-font-size;

        @include m.sp {
            margin-bottom: 10px;
        }

        &--food {
            margin-bottom: 110px;

            @include m.sp {
                margin-bottom: 0;
            }
        }

        dt {
            border-bottom: 1px dotted $color-black;
        }

        dd {
            padding-top: 5px;
        }
    }
}

// about
.about {
    .section-title {
        background-image: url(../../img/about.jpg);
    }

    &__text-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
        margin-bottom: 30px;
        li {
            font-size: $base-font-size;
            line-height: 2;
        }
    }

    // Read Moreボタン風aタグのアニメーション
    &__link {
        display: block;
        width: 160px;
        height: 50px;
        // 1行のテキストの行ボックスの高さをheightと同じ50pxにすることで、文字を縦方向中央付近に配置している
        line-height: 50px;
        margin-inline: auto;
        text-align: center;
        color: $color-black;
        position: relative;
        // transitionは「hover側」に指定するものではなく、変化するプロパティを持つ要素側に指定する。そうすることで変化させる側になる__link等他の箇所のtransitionは不要でアニメーションが動く
        // transition: all 0.3s ease;

        // 右下角の二線
        &::before,
        &::after {
            position: absolute;
            content: "";
            // 二つの0で基準値を右下角に設定
            right: 0;
            bottom: 0;
            background: #e03131;
            // transition: all 0.3s ease;
        }

        // spanをボタンいっぱいに広げ、span::before / span::afterの位置の基準にする
        span {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;

            // 左上角の二線
            &::before,
            &::after {
                position: absolute;
                content: "";
                // ボタンいっぱいに広げたspanタグを利用して、左上角を基準に
                left: 0;
                top: 0;
                background: #e03131;
                // transition: all 0.3s ease;
            }
        }

        // 縦線
        &::before,
        span::before {
            // widthを2pxにし、heightを長くすることで縦線になる
            width: 2px;
            height: 50%;
            // 下記のように実際に動くheightの部分にtransitionを絞ることで、後々他のアニメーションが増えても誤作動しなくなる
            transition: height 0.3s ease;
        }

        // 横線
        &::after,
        span::after {
            // widthを長く、heightを2pxにすることで横線になる
            width: 20%;
            height: 2px;
            // 下記のように実際に動くwidthの部分にtransitionを絞ることで、後々他のニメーションが増えても誤作動しなくなる
            transition: width 0.3s ease;
        }

        // hover時
        // 親のaタグのhoverをトリガーとして、spanタグのhoverは記述しなくてもアニメーションを動かすことができる
        // 理由:spanタグはaタグ内部の子要素なので、実質spanタグにマウスが当たっている状態＝親のaタグにカーソルが載っている状態のため親のaタグもhoverになっているから
        &:hover {
            // 縦線のheight:50%を100%にhover時に伸ばす
            &::before,
            span::before {
                height: 100%;
            }
            // 横のwidth:20％を100%にhover時に伸ばす
            &::after,
            span::after {
                width: 100%;
            }
        }
        // &:hover::before,
        // span:hover::before {
        //     height: 100%;
        // }

        // &:hover::after,
        // span:hover::after {
        //     width: 100%;
        // }
    }
}

// location
.location {
    .section-title {
        background-image: url(../../img/location.jpg);
    }

    &__map {
        margin-bottom: 20px;
        width: 100%;
        height: 450px;
    }

    &__store-information {
        li {
            &:nth-child(1),
            &:nth-child(3) {
                margin-bottom: 8px;
            }
        }
        a {
            font-style: normal;
            color: $color-black;
        }
    }
}
