@use "./variables" as *;
@use "./mixin" as m;

.container {
    max-width: $container-width;
    padding-top: clamp(30px, 6.5vw, 90px);
    padding-bottom: clamp(60px, 8.5vw, 120px);
    padding-inline: clamp(8px, 2vw, 16px);
    margin-inline: auto;
}

.section {
    &-title {
        font-size: clamp(2rem, 5vw, 4.5rem);
        color: $color-white;
        padding-block: clamp(32px, 8vw, 112px);
        text-align: center;
        line-height: 1;
        // 背景画像で共通指定になる部分をglobalにまとめる設計
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    &-item-title {
        width: fit-content;
        line-height: 1.5;
        font-size: clamp(1.25rem, 2.7vw, 2.5rem);
        color: $color-black;
        margin-inline: auto;
        margin-bottom: clamp(25px, 4.5vw, 64px);
        border-bottom: 5px solid red;
    }
}
