@use "variables" as *;

html {
    font-size: 100%;
}

body {
    font-family: $font-family-base;
    background-color: $base-background-color;
}

img {
    width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

iframe {
    width: 100%;
    height: 100%;
}

section {
    margin-bottom: 180px;
}

h2 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: $color-white;
}

ul {
    list-style: none;
}
