@use "./variables" as *;
@use "./mixin" as m;

html {
    font-size: 100%;
}

body {
    font-family: $font-family-base;
    background-color: $base-background-color;
}

img {
    width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

iframe {
    display: block;
    width: 100%;
    height: 100%;
}

section {
    margin-bottom: 180px;
    @include m.tb {
        margin-bottom: 80px;
    }
}

h2 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: $color-white;
}

ul {
    list-style: none;
}
