@use "variables" as *;

html {
    font-size: 100%;
}

img {
    width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: $color-white;
}

ul {
    list-style: none;
}
