@use "variables" as *;
@use "mixin" as m;

.container {
    max-width: $container-width;
    padding-inline: 20px;
    margin-inline: auto;
}

.site {
    &-logo {
        width: 40px;
        height: 100%;
        line-height: 1;
    }
}
