@use "variables" as *;
@use "mixin" as m;

.container {
    width: 100%;
    max-width: $container-width;
    padding-inline: 20px;
    margin-inline: auto;
}

.site {
    &-logo {
        width: 40px;
        height: 100%;
        line-height: 1;
        margin-left: 60px;

        @include m.tb {
            .footer__information & {
                margin-left: 25px;
            }
        }
    }
    &-nav {
        li {
            margin-left: 25px;

            .footer__information & {
                font-size: 0.875rem;
            }

            @include m.tb {
                .footer__information & {
                    margin-left: 10px;
                }
            }
        }
    }
}

.section-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    align-items: center;
    gap: 15px;

    &--inline {
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }

    &__subtitle {
        font-size: 0.875rem;
        @include m.tb {
            .products-item & {
                display: none;
            }
        }
    }

    &__maintitle {
        font-size: 2.25rem;
        letter-spacing: 0.1em;

        @include m.tb {
            font-size: 1.75rem;
        }

        .products-item & {
            font-size: 2rem;
            @include m.tb {
                font-size: 1.5rem;
            }
        }
    }
}
