@use "variables" as *;
@use "mixin" as m;

.container {
    max-width: $container-width;
    padding-inline: 20px;
    margin-inline: auto;
}

.site {
    &-logo {
        width: 40px;
        height: 100%;
        line-height: 1;
    }
}

.section-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    align-items: center;
    gap: 15px;

    &--inline {
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }

    &__subtitle {
        font-size: 0.875rem;
    }

    &__maintitle {
        font-size: 2.25rem;
        letter-spacing: 0.1em;

        &--products {
            font-size: 2rem;
        }
    }
}
