@use "../common/variables" as *;
@use "../common/mixin" as m;

.company {
    &__profile {
        // 解答例ではmax-width
        width: 600px;
        // 解答例：flex+wrap
        display: grid;
        grid-template-columns: 180px 420px;

        @include m.tb {
            grid-template-columns: 1fr;
        }

        dt {
            padding: 20px 10px;

            @include m.tb {
                width: 100%;
                padding: 20px 10px 5px;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #dcdbdb;

                @include m.tb {
                    border: none;
                }
            }
        }
        dd {
            padding: 20px 10px;

            @include m.tb {
                width: 100%;
                padding: 5px 10px 20px;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #dcdbdb;
            }
        }
    }

    &__location {
        // width: 600px;と最初自身で設定していたが、ここは100%にすることで必然的にや要素の幅が変化すれば柔軟に変わるので100%の方が良い
        width: 100%;
        height: 300px;
    }
}
