@use "variables";

html {
    font-size: 100%;
}

body {
    font-family: variables.$font-family-base;
    color: variables.$color-text;
}

img {
    max-width: 100%;
    // coverはbaseではなく共通の処理として要素に指定されることが多いので、各要素のimgに指定するほうが良いかも
    object-fit: cover;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: variables.$color-text;
    font-size: 0.875rem;
}

ul {
    list-style: none;
}
