@use "variables";

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 16px;
}

.article-read-more {
    position: relative;
    padding-bottom: 1px;
    display: block;
    width: fit-content;
    margin-inline: auto;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.8px;
        background-color: variables.$color-primary;
        transition:
            opacity 0.3s ease,
            transform 0.3s ease;
        opacity: 1; /* 最初は表示 */
    }

    &:hover::after {
        opacity: 0;
        transform: translateY(3px); /* 下へ移動しながら消える */
    }
}
