# 元データ（SCSS）が存在していて、必要ならいつでも生成できるため、Gitで履歴管理する優先度が低いために追跡から除外

# Scss source map（SCSSとの対応確認用）

# SCSSと生成されたCSSの対応関係を保持するデバッグ用ファイル
# サイト表示には不要で、環境ごとに生成できるためGit管理対象外
*.css.map

# minify css（本番用最適化ファイル）

# 圧縮済みCSSファイル
# 本番公開時の読み込み速度向上を目的とした生成ファイル
# 元のSCSSから再生成できるためGit管理対象外
*.min.css

# 圧縮済みCSS用のSource Mapファイル
# min.cssと元SCSSの対応確認用だが、通常の開発では使用しないため管理対象外
*.min.css.map