@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.875rem;
  color: #333333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-bottom: 52px;
}
@media (max-width: 768px) {
  main {
    margin-bottom: 20px;
  }
}

img {
  width: 100%;
  vertical-align: bottom;
  -o-object-fit: cover;
     object-fit: cover;
}

iframe {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #333333;
  transition: all 0.4s;
}
a:hover {
  opacity: 0.8;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1360px;
  padding-inline: 16px;
  margin-inline: auto;
}

.section-title {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 32px;
}

.item-card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding-top: 20px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .item-card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.item-image {
  margin-bottom: 8px;
}
.item-title, .item-price {
  font-size: 0.75rem;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  align-items: center;
  line-height: 0.5;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
}
.header__logo {
  width: 180px;
  height: 20px;
}
.header__toggle-btn {
  width: 30px;
  height: 30px;
  position: relative; /*基準*/
  cursor: pointer;
  transition: all 0.5s;
}
.header__toggle-btn span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333333;
  /*   0.5秒かけて変化させる */
  transition: all 0.5s;
}
.header__toggle-btn span:nth-child(1) {
  top: 33%;
}
.header__toggle-btn span:nth-child(2) {
  top: 66%;
}
.header__nav {
  display: none;
}
.header.open .header__toggle-btn span {
  background-color: #fff;
  z-index: 10;
}
.header.open .header__toggle-btn span:nth-child(1) {
  top: 50%;
  transform: rotate(-45deg);
}
.header.open .header__toggle-btn span:nth-child(2) {
  top: 50%;
  transform: rotate(45deg);
}
.header.open .header__nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
}
.header.open .header__nav ul li {
  -webkit-animation: slideInLeft 0.4s ease-out forwards;
          animation: slideInLeft 0.4s ease-out forwards;
  margin-bottom: 25px;
}
@-webkit-keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.header.open .header__nav ul a {
  color: #fff;
  font-size: 0.875rem;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}
.footer__sns-list {
  display: flex;
  gap: 32px;
  line-height: 1;
}
@media (max-width: 768px) {
  .footer__sns-list {
    width: 100%;
    margin-bottom: 8px;
  }
}
.footer__sns-list a {
  font-size: 0.75rem;
}
.footer small {
  font-size: 0.7rem;
}
@media (max-width: 768px) {
  .footer small {
    width: 100%;
  }
}

.index__products-link {
  display: block;
  text-align: center;
  font-size: 0.875rem;
}

.item__content {
  margin-top: 20px;
}
.item__title {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 32px;
}
.item__information {
  display: flex;
  gap: 64px;
  width: 800px;
  margin-bottom: 64px;
  font-size: 0.875rem;
}
@media (max-width: 768px) {
  .item__information {
    flex-direction: column;
    width: 100%;
  }
}
.item__image {
  width: 400px;
  height: 400px;
}
@media (max-width: 768px) {
  .item__image {
    width: 100%;
    height: 100%;
  }
}
.item__image img {
  height: 100%;
}
.item__detail {
  flex: 1;
}
.item__text {
  line-height: 1.5;
  margin-bottom: 32px;
}
.item__price {
  margin-bottom: 32px;
}
.item__about {
  display: grid;
  grid-template-columns: 30% 70%;
}
.item__products-link {
  display: block;
  text-align: center;
  font-size: 0.875rem;
}

.products__pagenation {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.products__page {
  font-size: 0.875rem;
}

.about__text {
  width: 600px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.company__profile {
  width: 600px;
  display: grid;
  grid-template-columns: 180px 420px;
}
@media (max-width: 768px) {
  .company__profile {
    grid-template-columns: 1fr;
  }
}
.company__profile dt {
  padding: 20px 10px;
}
@media (max-width: 768px) {
  .company__profile dt {
    width: 100%;
    padding: 20px 10px 5px;
  }
}
.company__profile dt:not(:last-child) {
  border-bottom: 1px solid #dcdbdb;
}
@media (max-width: 768px) {
  .company__profile dt:not(:last-child) {
    border: none;
  }
}
.company__profile dd {
  padding: 20px 10px;
}
@media (max-width: 768px) {
  .company__profile dd {
    width: 100%;
    padding: 5px 10px 20px;
  }
}
.company__profile dd:not(:last-child) {
  border-bottom: 1px solid #dcdbdb;
}
.company__location {
  width: 600px;
  height: 300px;
}
/*# sourceMappingURL=main.css.map */