@use "../common/variables" as *;
@use "../common/mixin" as m;

.sidebar {
    // width: 33%;
    flex: 1;

    &__item {
        margin-bottom: 60px;
    }

    // self-introduction
    &__self-introduction-image {
        width: 130px;
        height: 130px;
        margin-inline: auto;
        margin-bottom: 30px;

        img {
            border-radius: 50%;
        }
    }

    &__self-introduction-name,
    &__heading {
        font-size: 1.125rem;
        text-align: center;
        margin-bottom: 30px;
    }

    &__self-introduction-text,
    &__ranking-heading {
        font-size: 0.875rem;
        letter-spacing: 1px;
    }

    // ranking
    &__ranking-item {
        margin-bottom: 30px;
    }

    &__ranking-heading {
        font-weight: 400;
    }

    &__ranking-image {
        margin-bottom: 5px;
    }

    // archive
    &__archive-list {
        li {
            padding: 20px;
            border-top: 1px solid $color-primary;

            &:last-child {
                border-bottom: 1px solid $color-primary;
            }
        }
    }
}
