@use "../common/variables" as *;
@use "../common/mixin" as m;

.footer {
    background-color: #f7f7f7;
    padding-top: 50px;
    &__inner {
        display: flex;
        gap: 40px;
        @include m.sp {
            flex-direction: column;
        }
    }

    &__section {
        flex: 1;
    }

    &__section-title {
        font-size: 1.125rem;
        margin-bottom: 20px;
    }

    // about
    &__about-text {
        font-size: 0.875rem;
        letter-spacing: 0.5px;
        margin-bottom: 12px;
    }

    &__about-list {
        li {
            position: relative;
            padding-left: 12px;

            &::before {
                width: 10%;
                content: "";
                // position使用することで文章の冒頭部分のずれを解消
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 0px 6px 8px;
                border-color: transparent transparent transparent $color-primary;
            }
        }
    }

    // menu
    &__menu-nav {
        li {
            padding: 15px;
            border-top: 1px solid $color-primary;

            &:last-child {
                border-bottom: 1px solid $color-primary;
            }
        }
    }

    // copyright
    small {
        display: block;
        text-align: center;
        padding-block: 10px;
        font-size: 0.75rem;
    }
}
