@use "../common/variables" as *;
@use "../common/mixin" as m;

//  トップページのメインコンテンツ周辺
.pickup-article {
    // header固定文134px分＋margin-topで指定したい40pxの合計値
    margin-top: 174px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    &__title {
        font-size: 1rem;
        margin-block: 16px;
    }
    @include m.sp {
        flex-direction: column;
    }
}

// main-article
.main-article {
    // width: 67%;
    flex: 2.6;

    &__item {
        margin-bottom: 80px;
    }

    &__title {
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    &__date {
        display: flex;
        gap: 20px;
        margin-bottom: 10px;
    }

    &__image {
        margin-bottom: 16px;
    }

    &__text {
        width: 93%;
        margin-inline: auto;
        margin-bottom: 30px;
    }
}
